<form style="max-width: 70%; margin-left: 10%; margin-top: 1%">
    <h3>Add New Task</h3>
    <div style="margin-bottom: 2%;">
        <div class="form-row" style="display: flex;">
            <div style="margin-bottom: 2%;margin-right: 2%;">
                <label class="mr-sm-2" for="inlineFormCustomSelect">Project</label>
                <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                    <option selected>Choose...</option>
                    <option *ngFor="let project of projectDataList" value="project.Id">{{ project.Name }}</option>
                </select>
            </div>
            <div style="margin-bottom: 2%;">
                <label class="mr-sm-2" for="inlineFormCustomSelect">Assigned To User</label>
                <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                    <option selected>Choose...</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
        </div>
        <div>
            <label for="details">Details</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" [(ngModel)]="newTask.Detail" name="Detail"
                #Detail="ngModel" placeholder="Details about the task" rows="3"></textarea>
        </div>
    </div>
    <button type="submit" class="btn btn-primary" (click)="AddNewTask(newTask)">
        Add Task
    </button>
    <button style="margin-left: 1%" type="button" (click)="CancelAddTask()" class="btn btn-danger">
        Cancel
    </button>
    <button *ngIf="isUpdate" style="margin-left: 1%" type="button" (click)="AddNewTask(newTask)" class="btn btn-info">
        Update
    </button>
</form>